[Unit]
Description=mechax_cv_trajectory

[Service]
User=qianli
ExecStart=/home/qianli/self_start/mechax_cv_trajectory.sh
# 服务停止时执行的脚本

# Restart=always 表示程序退出就会重启,未进行测试
Restart=always

[Install]
WantedBy=multi-user.target
